</article>
</div>
</main>
<footer class="footer">
    <p class="copyright">&copy Открытая клиника, 2016</p>
    <p>Информация, размещенная на сайте, не является публичной офертой.</p>
</footer>

</div>
<script src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/jquery.fitvids.js"></script>
<script type="text/javascript" src="js/jquery.bxslider.js"></script>
<script type="text/javascript" src="js/jquery.fancybox.js"></script>
<script type="text/javascript" src="js/jquery.fitvids.js"></script>
<script type="text/javascript" src="js/jquery.mousewheel.min.js"></script>
<script src="js/app.min.js"></script>
</body>
</html>