<!-- build:section layout.header -->
<!-- /build -->
<!-- build:section layout.leftMenu -->
<!-- /build -->

<div class="vacancies__wrap coast__wrap">
    <div class="harmonica-menu-js vacancies coast">
        <ul>
            <li>
                <span class="coast-title">МРТ<p class="coast-note">Записаться на прием</p></span>

                <div class="harmonica-menu-js-hidden coast__item">
                   <div class="coast-table">
                       <div class="coast-tr  register__wrap">
                           <div class="coast-td">МРТ всего тела</div>
                           <div class="coast-td coast-td__price">31 000 руб.</div>
                           <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                           <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                           <div class="register"><a href="#x"> Записаться на прием</a></div>
                       </div>
                       <div class="coast-tr register__wrap">
                           <div class="coast-td">МРТ всего тела</div>
                           <div class="coast-td coast-td__price">31 000 руб.</div>
                           <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                           <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                           <div class="register"><a href="#x"> Записаться на прием</a></div>
                       </div>
                       <div class="coast-tr register__wrap">
                           <div class="coast-td">МРТ всего тела</div>
                           <div class="coast-td coast-td__price">31 000 руб.</div>
                           <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                           <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                           <div class="register"><a href="#x"> Записаться на прием</a></div>
                       </div>
                       <div class="coast-tr register__wrap">
                           <div class="coast-td">МРТ всего тела</div>
                           <div class="coast-td coast-td__price">31 000 руб.</div>
                           <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                           <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                           <div class="register"><a href="#x"> Записаться на прием</a></div>
                       </div>
                       <div class="coast-tr register__wrap">
                           <div class="coast-td">МРТ всего тела</div>
                           <div class="coast-td coast-td__price">31 000 руб.</div>
                           <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                           <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                           <div class="register"><a href="#x"> Записаться на прием</a></div>
                       </div>
                       <div class="coast-tr register__wrap">
                           <div class="coast-td">МРТ всего тела</div>
                           <div class="coast-td coast-td__price">31 000 руб.</div>
                           <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                           <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                           <div class="register"><a href="#x"> Записаться на прием</a></div>
                       </div>
                       <div class="coast-tr register__wrap">
                           <div class="coast-td">МРТ всего тела</div>
                           <div class="coast-td coast-td__price">31 000 руб.</div>
                           <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                           <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                           <div class="register"><a href="#x"> Записаться на прием</a></div>
                       </div>
                       <div class="coast-tr register__wrap">
                           <div class="coast-td">МРТ всего тела</div>
                           <div class="coast-td coast-td__price">31 000 руб.</div>
                           <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                           <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                           <div class="register"><a href="#x"> Записаться на прием</a></div>
                       </div>
                       <div class="coast-tr register__wrap">
                           <div class="coast-td">МРТ всего тела</div>
                           <div class="coast-td coast-td__price">31 000 руб.</div>
                           <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                           <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                           <div class="register"><a href="#x"> Записаться на прием</a></div>
                       </div>
                   </div>
                </div>
            </li>
            <li>
                <span class="coast-title">МРТ<span class="coast-note">Записаться на прием</span></span>

                <div class="harmonica-menu-js-hidden coast__item">
                    <div class="coast-table">
                        <div class="coast-tr register__wrap">
                            <div class="coast-td">МРТ всего тела</div>
                            <div class="coast-td coast-td__price">31 000 руб.</div>
                            <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                            <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                            <div class="register"><a href="#x"> Записаться на прием</a></div>
                        </div>
                        <div class="coast-tr register__wrap">
                            <div class="coast-td">МРТ всего тела</div>
                            <div class="coast-td coast-td__price">31 000 руб.</div>
                            <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                            <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                            <div class="register"><a href="#x"> Записаться на прием</a></div>
                        </div>
                        <div class="coast-tr register__wrap">
                            <div class="coast-td">МРТ всего тела</div>
                            <div class="coast-td coast-td__price">31 000 руб.</div>
                            <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                            <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                            <div class="register"><a href="#x"> Записаться на прием</a></div>
                        </div>
                        <div class="coast-tr register__wrap">
                            <div class="coast-td">МРТ всего тела</div>
                            <div class="coast-td coast-td__price">31 000 руб.</div>
                            <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                            <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                            <div class="register"><a href="#x"> Записаться на прием</a></div>
                        </div>
                        <div class="coast-tr register__wrap">
                            <div class="coast-td">МРТ всего тела</div>
                            <div class="coast-td coast-td__price">31 000 руб.</div>
                            <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                            <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                            <div class="register"><a href="#x"> Записаться на прием</a></div>
                        </div>
                        <div class="coast-tr register__wrap">
                            <div class="coast-td">МРТ всего тела</div>
                            <div class="coast-td coast-td__price">31 000 руб.</div>
                            <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                            <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                            <div class="register"><a href="#x"> Записаться на прием</a></div>
                        </div>
                        <div class="coast-tr register__wrap">
                            <div class="coast-td">МРТ всего тела</div>
                            <div class="coast-td coast-td__price">31 000 руб.</div>
                            <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                            <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                            <div class="register"><a href="#x"> Записаться на прием</a></div>
                        </div>
                        <div class="coast-tr register__wrap">
                            <div class="coast-td">МРТ всего тела</div>
                            <div class="coast-td coast-td__price">31 000 руб.</div>
                            <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                            <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                            <div class="register"><a href="#x"> Записаться на прием</a></div>
                        </div>
                        <div class="coast-tr register__wrap">
                            <div class="coast-td">МРТ всего тела</div>
                            <div class="coast-td coast-td__price">31 000 руб.</div>
                            <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                            <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                            <div class="register"><a href="#x"> Записаться на прием</a></div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <span class="coast-title">МРТ<span class="coast-note">Записаться на прием</span></span>

                <div class="harmonica-menu-js-hidden coast__item">
                    <div class="coast-table">
                        <div class="coast-tr register__wrap">
                            <div class="coast-td">МРТ всего тела</div>
                            <div class="coast-td coast-td__price">31 000 руб.</div>
                            <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                            <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                            <div class="register"><a href="#x"> Записаться на прием</a></div>
                        </div>
                        <div class="coast-tr register__wrap">
                            <div class="coast-td">МРТ всего тела</div>
                            <div class="coast-td coast-td__price">31 000 руб.</div>
                            <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                            <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                            <div class="register"><a href="#x"> Записаться на прием</a></div>
                        </div>
                        <div class="coast-tr register__wrap">
                            <div class="coast-td">МРТ всего тела</div>
                            <div class="coast-td coast-td__price">31 000 руб.</div>
                            <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                            <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                            <div class="register"><a href="#x"> Записаться на прием</a></div>
                        </div>
                        <div class="coast-tr register__wrap">
                            <div class="coast-td">МРТ всего тела</div>
                            <div class="coast-td coast-td__price">31 000 руб.</div>
                            <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                            <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                            <div class="register"><a href="#x"> Записаться на прием</a></div>
                        </div>
                        <div class="coast-tr register__wrap">
                            <div class="coast-td">МРТ всего тела</div>
                            <div class="coast-td coast-td__price">31 000 руб.</div>
                            <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                            <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                            <div class="register"><a href="#x"> Записаться на прием</a></div>
                        </div>
                        <div class="coast-tr register__wrap">
                            <div class="coast-td">МРТ всего тела</div>
                            <div class="coast-td coast-td__price">31 000 руб.</div>
                            <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                            <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                            <div class="register"><a href="#x"> Записаться на прием</a></div>
                        </div>
                        <div class="coast-tr register__wrap">
                            <div class="coast-td">МРТ всего тела</div>
                            <div class="coast-td coast-td__price">31 000 руб.</div>
                            <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                            <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                            <div class="register"><a href="#x"> Записаться на прием</a></div>
                        </div>
                        <div class="coast-tr register__wrap">
                            <div class="coast-td">МРТ всего тела</div>
                            <div class="coast-td coast-td__price">31 000 руб.</div>
                            <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                            <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                            <div class="register"><a href="#x"> Записаться на прием</a></div>
                        </div>
                        <div class="coast-tr register__wrap">
                            <div class="coast-td">МРТ всего тела</div>
                            <div class="coast-td coast-td__price">31 000 руб.</div>
                            <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                            <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                            <div class="register"><a href="#x"> Записаться на прием</a></div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <span class="coast-title">Гастроскопия<span class="coast-note">Записаться на прием</span></span>

                <div class="harmonica-menu-js-hidden coast__item">
                    <div class="coast-table">
                        <div class="coast-tr register__wrap">
                            <div class="coast-td">МРТ всего тела</div>
                            <div class="coast-td coast-td__price">31 000 руб.</div>
                            <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                            <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                            <div class="register"><a href="#x"> Записаться на прием</a></div>
                        </div>
                        <div class="coast-tr register__wrap">
                            <div class="coast-td">МРТ всего тела</div>
                            <div class="coast-td coast-td__price">31 000 руб.</div>
                            <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                            <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                            <div class="register"><a href="#x"> Записаться на прием</a></div>
                        </div>
                        <div class="coast-tr register__wrap">
                            <div class="coast-td">МРТ всего тела</div>
                            <div class="coast-td coast-td__price">31 000 руб.</div>
                            <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                            <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                            <div class="register"><a href="#x"> Записаться на прием</a></div>
                        </div>
                        <div class="coast-tr register__wrap">
                            <div class="coast-td">МРТ всего тела</div>
                            <div class="coast-td coast-td__price">31 000 руб.</div>
                            <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                            <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                            <div class="register"><a href="#x"> Записаться на прием</a></div>
                        </div>
                        <div class="coast-tr register__wrap">
                            <div class="coast-td">МРТ всего тела</div>
                            <div class="coast-td coast-td__price">31 000 руб.</div>
                            <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                            <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                            <div class="register"><a href="#x"> Записаться на прием</a></div>
                        </div>
                        <div class="coast-tr register__wrap">
                            <div class="coast-td">МРТ всего тела</div>
                            <div class="coast-td coast-td__price">31 000 руб.</div>
                            <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                            <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                            <div class="register"><a href="#x"> Записаться на прием</a></div>
                        </div>
                        <div class="coast-tr register__wrap">
                            <div class="coast-td">МРТ всего тела</div>
                            <div class="coast-td coast-td__price">31 000 руб.</div>
                            <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                            <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                            <div class="register"><a href="#x"> Записаться на прием</a></div>
                        </div>
                        <div class="coast-tr register__wrap">
                            <div class="coast-td">МРТ всего тела</div>
                            <div class="coast-td coast-td__price">31 000 руб.</div>
                            <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                            <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                            <div class="register"><a href="#x"> Записаться на прием</a></div>
                        </div>
                        <div class="coast-tr register__wrap">
                            <div class="coast-td">МРТ всего тела</div>
                            <div class="coast-td coast-td__price">31 000 руб.</div>
                            <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                            <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                            <div class="register"><a href="#x"> Записаться на прием</a></div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <span class="coast-title">Гастроскопия<span class="coast-note">Записаться на прием</span></span>

                <div class="harmonica-menu-js-hidden coast__item">
                    <div class="coast-table">
                        <div class="coast-tr register__wrap">
                            <div class="coast-td">МРТ всего тела</div>
                            <div class="coast-td coast-td__price">31 000 руб.</div>
                            <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                            <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                            <div class="register"><a href="#x"> Записаться на прием</a></div>
                        </div>
                        <div class="coast-tr register__wrap">
                            <div class="coast-td">МРТ всего тела</div>
                            <div class="coast-td coast-td__price">31 000 руб.</div>
                            <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                            <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                            <div class="register"><a href="#x"> Записаться на прием</a></div>
                        </div>
                        <div class="coast-tr register__wrap">
                            <div class="coast-td">МРТ всего тела</div>
                            <div class="coast-td coast-td__price">31 000 руб.</div>
                            <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                            <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                            <div class="register"><a href="#x"> Записаться на прием</a></div>
                        </div>
                        <div class="coast-tr register__wrap">
                            <div class="coast-td">МРТ всего тела</div>
                            <div class="coast-td coast-td__price">31 000 руб.</div>
                            <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                            <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                            <div class="register"><a href="#x"> Записаться на прием</a></div>
                        </div>
                        <div class="coast-tr register__wrap">
                            <div class="coast-td">МРТ всего тела</div>
                            <div class="coast-td coast-td__price">31 000 руб.</div>
                            <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                            <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                            <div class="register"><a href="#x"> Записаться на прием</a></div>
                        </div>
                        <div class="coast-tr register__wrap">
                            <div class="coast-td">МРТ всего тела</div>
                            <div class="coast-td coast-td__price">31 000 руб.</div>
                            <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                            <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                            <div class="register"><a href="#x"> Записаться на прием</a></div>
                        </div>
                        <div class="coast-tr register__wrap">
                            <div class="coast-td">МРТ всего тела</div>
                            <div class="coast-td coast-td__price">31 000 руб.</div>
                            <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                            <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                            <div class="register"><a href="#x"> Записаться на прием</a></div>
                        </div>
                        <div class="coast-tr register__wrap">
                            <div class="coast-td">МРТ всего тела</div>
                            <div class="coast-td coast-td__price">31 000 руб.</div>
                            <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                            <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                            <div class="register"><a href="#x"> Записаться на прием</a></div>
                        </div>
                        <div class="coast-tr register__wrap">
                            <div class="coast-td">МРТ всего тела</div>
                            <div class="coast-td coast-td__price">31 000 руб.</div>
                            <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                            <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                            <div class="register"><a href="#x"> Записаться на прием</a></div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>


<!-- build:section layout.footer -->
<!-- /build -->
