<!-- build:section layout.header -->
<!-- /build -->
<!-- build:section layout.leftMenu -->
<!-- /build -->

<div class="vacancies__wrap">
    <div class="harmonica-menu-js vacancies coast">
        <ul>
            <li>
                <span class="coast-title">МРТ<span class="coast-note">Записаться на прием</span></span>

                <div class="harmonica-menu-js-hidden coast__item">
                   <div class="coast-table">
                       <div class="coast-tr">
                           <div class="coast-td">МРТ всего тела</div>
                           <div class="coast-td coast-td__price">31 000 руб.</div>
                           <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                           <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                           <div class="register">Записаться на прием</div>
                       </div>
                       <div class="coast-tr">
                           <div class="coast-td">МРТ всего тела</div>
                           <div class="coast-td coast-td__price">31 000 руб.</div>
                           <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                           <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                           <div class="register">Записаться на прием</div>
                       </div>
                       <div class="coast-tr">
                           <div class="coast-td">МРТ всего тела</div>
                           <div class="coast-td coast-td__price">31 000 руб.</div>
                           <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                           <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                           <div class="register">Записаться на прием</div>
                       </div>
                       <div class="coast-tr">
                           <div class="coast-td">МРТ всего тела</div>
                           <div class="coast-td coast-td__price">31 000 руб.</div>
                           <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                           <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                       </div>
                       <div class="coast-tr">
                           <div class="coast-td">МРТ всего тела</div>
                           <div class="coast-td coast-td__price">31 000 руб.</div>
                           <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                           <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                       </div>
                       <div class="coast-tr">
                           <div class="coast-td">МРТ всего тела</div>
                           <div class="coast-td coast-td__price">31 000 руб.</div>
                           <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                           <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                       </div>
                       <div class="coast-tr">
                           <div class="coast-td">МРТ всего тела</div>
                           <div class="coast-td coast-td__price">31 000 руб.</div>
                           <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                           <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                       </div>
                       <div class="coast-tr">
                           <div class="coast-td">МРТ всего тела</div>
                           <div class="coast-td coast-td__price">31 000 руб.</div>
                           <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                           <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                       </div>
                       <div class="coast-tr">
                           <div class="coast-td">МРТ всего тела</div>
                           <div class="coast-td coast-td__price">31 000 руб.</div>
                           <div class="coast-td price-sale">24 800 руб. <span>до 26 февраля(скидка 20%)</span></div>
                           <div class="coast-td price-sale">23 250 руб. <span>27 и 28 февраля(скидка 25%)</span></div>
                       </div>
                   </div>
                </div>
            </li>
            <li>
                <span class="coast-title">Гастроскопия<span class="coast-note">Записаться на прием</span></span>
                <div class="harmonica-menu-js-hidden vacancies__item">
                    <p class="vacancies__item--title">Должностные обязанности:</p>
                    <ul>
                        <li>Оказывать экстренную и неотложную помощь по своей специальности, используя современные методы диагностики, лечения, профилактики и реабилитации пациентов.</li>
                        <li>Взаимодействовать с врачами других специальностей клиники в целях координированного лечения пациентов в условиях клиники.</li>
                        <li>Вести прием пациентов в соответствии с утвержденным графиком работы.</li>
                        <li>Планировать и анализировать свою работу</li>
                        <li>Оформлять требуемую медицинскую докуметацию установленного образца в соответствии с требованиями МЗ РФ и клиники</li>
                        <li>Оказвать консультативную помощь в пределах своей профессиональной компетенции пациентам других подразделений клиники в случае необходимости.</li>
                        <li>Составлять отчеты о проведенной работе и представлять их руководству.</li>
                        <li>Соблюдать принципы врачебной этики и деонтологии.</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>

<!-- build:section layout.footer -->
<!-- /build -->
