<!-- build:section layout.header -->
<!-- /build -->
<!-- build:section layout.leftMenu -->
<!-- /build -->

<article class="face">
    <div class="face-slide__number"><span id="current"></span> / <span id="slideQty"></span></div>
    <div class="face-slide clearfix">
        <div class="face-slide__item clearfix">
            <div class="face-slide__item-wrap clearfix">
                <div class="face-slide__img">
                    <img src="img/face-img.jpg">
                </div>
                <div class="face-slide__text">
                    <p class="face-slide__text-title"><span>Филистеев Павел Анатольевич</span>
                        Руководитель направления лучевой диагностики
                    </p>
                    <p>Специализируется на проведении диагностики заболевний, паталогических состояний и трамв с помощью  рентгенологических методов
                        исследования и МРТ. К нему можно обратиться за обследованием при трамвах, заболеваниях молочной железы и сосудов,
                        паталогии головного мозга и легких.</p>
                    <p class="face-slide__text-caption">Образование:</p>
                    <p><span>2007 г.</span> Закончил с красным дипломом лечебный факультет Московской Медицинской Акакдемии им. И.М. Сеченова.</p>
                    <p><span>2009 г.</span> Клиническая орденатура на кафедре лучевой диагностики и терапии лечебного факультета того же института.</p>
                </div>
            </div>
        </div>
        <div class="face-slide__item">
            <div class="face-slide__item-wrap clearfix">
                <div class="face-slide__img">
                    <img src="img/face-img.jpg">
                </div>
                <div class="face-slide__text">
                    <p class="face-slide__text-title"><span>Филистеев Павел Анатольевич</span>
                        Руководитель направления лучевой диагностики
                    </p>
                    <p>Специализируется на проведении диагностики заболевний, паталогических состояний и трамв с помощью  рентгенологических методов
                        исследования и МРТ. К нему можно обратиться за обследованием при трамвах, заболеваниях молочной железы и сосудов,
                        паталогии головного мозга и легких.</p>
                    <p class="face-slide__text-caption">Образование:</p>
                    <p><span>2007 г.</span> Закончил с красным дипломом лечебный факультет Московской Медицинской Акакдемии им. И.М. Сеченова.</p>
                    <p><span>2009 г.</span> Клиническая орденатура на кафедре лучевой диагностики и терапии лечебного факультета того же института.</p>
                </div>
            </div>
        </div>
        <div class="face-slide__item">
            <div class="face-slide__item-wrap clearfix">
                <div class="face-slide__img">
                    <img src="img/face-img.jpg">
                </div>
                <div class="face-slide__text">
                    <p class="face-slide__text-title"><span>Филистеев Павел Анатольевич</span>
                        Руководитель направления лучевой диагностики
                    </p>
                    <p>Специализируется на проведении диагностики заболевний, паталогических состояний и трамв с помощью  рентгенологических методов
                        исследования и МРТ. К нему можно обратиться за обследованием при трамвах, заболеваниях молочной железы и сосудов,
                        паталогии головного мозга и легких.</p>
                    <p class="face-slide__text-caption">Образование:</p>
                    <p><span>2007 г.</span> Закончил с красным дипломом лечебный факультет Московской Медицинской Акакдемии им. И.М. Сеченова.</p>
                    <p><span>2009 г.</span> Клиническая орденатура на кафедре лучевой диагностики и терапии лечебного факультета того же института.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="face-slide__mini" class="face-slide__mini">
        <a data-slide-index="0"><img src="img/face-img_mini.jpg" /></a>
        <a data-slide-index="1"><img src="img/face-img_mini.jpg" /></a>
        <a data-slide-index="2"><img src="img/face-img_mini.jpg" /></a>
    </div>
    <style type="text/css">
        .bx-wrapper .bx-pager {
            bottom: 100px;
        }

        .bx-wrapper .bx-pager a {
            border: solid #ccc 1px;
            display: block;
            margin: 0 5px;
            padding: 3px;
        }

        .bx-wrapper .bx-pager a:hover,
        .bx-wrapper .bx-pager a.active {
            border: solid #5280DD 1px;
        }

        .bx-wrapper {
            margin-bottom: 120px;
        }
    </style>

</article>


<!-- build:section layout.footer -->
<!-- /build -->
