<!-- build:section layout.header -->
<!-- /build -->
    <!-- build:section layout.leftMenu -->
    <!-- /build -->
<div class="right-path__tariff">
    <div class="tariff-title">
        <p>Старт <span>тариф</span></p>
        Выбрать тариф
    </div>
    <div class="tariff-table__wrap">
        <div class="tariff-table">
            <div class="tariff-table__tr">
                <div class="tariff-table__td text-bold">Утверждение помещения и локации</div>
                <div class="tariff-table__td">Оценка помещений и месторасположение заказчика</div>
                <div class="tariff-table__td  text-price">30 000 руб.</div>
                <div class="tariff-table__td">Мы проанализируем маркетинговую актиность в регионе, точно не скажем какой пациентопоток сможем гарантировать и в каких специальностях есть потребность у населения.</div>
            </div>
            <div class="tariff-table__tr">
                <div class="tariff-table__td text-bold">Утверждение помещения и локации</div>
                <div class="tariff-table__td">Оценка помещений и месторасположение заказчика</div>
                <div class="tariff-table__td  text-price">30 000 руб.</div>
                <div class="tariff-table__td">Мы проанализируем маркетинговую актиность в регионе, точно не скажем какой пациентопоток сможем гарантировать и в каких специальностях есть потребность у населения.</div>
            </div>
            <div class="tariff-table__tr">
                <div class="tariff-table__td text-bold">Утверждение помещения и локации</div>
                <div class="tariff-table__td">Оценка помещений и месторасположение заказчика</div>
                <div class="tariff-table__td  text-price">30 000 руб.</div>
                <div class="tariff-table__td">Мы проанализируем маркетинговую актиность в регионе, точно не скажем какой пациентопоток сможем гарантировать и в каких специальностях есть потребность у населения.</div>
            </div>
            <div class="tariff-table__tr">
                <div class="tariff-table__td text-bold">Утверждение помещения и локации</div>
                <div class="tariff-table__td">Оценка помещений и месторасположение заказчика</div>
                <div class="tariff-table__td  text-price">30 000 руб.</div>
                <div class="tariff-table__td">Мы проанализируем маркетинговую актиность в регионе, точно не скажем какой пациентопоток сможем гарантировать и в каких специальностях есть потребность у населения.</div>
            </div>
            <div class="tariff-table__tr">
                <div class="tariff-table__td text-bold">Утверждение помещения и локации</div>
                <div class="tariff-table__td">Оценка помещений и месторасположение заказчика</div>
                <div class="tariff-table__td  text-price">30 000 руб.</div>
                <div class="tariff-table__td">Мы проанализируем маркетинговую актиность в регионе, точно не скажем какой пациентопоток сможем гарантировать и в каких специальностях есть потребность у населения.</div>
            </div>
        </div>
        <div class="tariff-choose"><a href="#x">Выбрать тариф <q>Старт</q></a></div>
        <div class="tariff-more__wrap">
            <div class="tariff-more">
                <div class="tariff-more__text">
                    <p>Эконом<sup>Тариф</sup></p>
                    <a href="#x">Подробнее</a>
                </div>
            </div>
            <div class="tariff-more">
                <div  class="tariff-more__text">
                    <p>Бизнес<sup>Тариф</sup></p>
                    <a href="#x">Подробнее</a>
                </div>
            </div>
            <div class="tariff-more">
                <div  class="tariff-more__text">
                    <p>Премиум<sup>Тариф</sup></p>
                    <a href="#x">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</div>

        <!-- build:section layout.footer -->
        <!-- /build -->